<form method="post" action="/alumnos/alta">
<input type="NombreAlumno" name="NombreAlumno" placeholder="Ingrese Nombre del alumno" size="50">
<br>
<input type="text" name="ApellidoAlumno" placeholder="Ingrese el apellido del alumno" size="10">
<br>
<input type="text" name="Domicilio" placeholder="Ingrese el Domicilio del alumno" size="10">
<br>
<input type="text" name="CursoAlumno" placeholder="Ingrese el Curso del alumno" size="10">
<br>
<input type="text" name="DivisionAlumno" placeholder="Ingrese la division del alumno:" size="10">
<br>
<input type="text" name="TurnoAlumno" placeholder="Ingrese el turno del alumno" size="10">
<br>
<input type="text" name="FechaNacAlumno" placeholder="Ingrese la fecha de nacimiento del alumno" size="10">
<br>
<input type="text" name="EmailAlumno" placeholder="Ingrese el email del alumno" size="10">
<br>
Seleccione el lugar de residencia:
<br>
<select name="cod_postal">
  <option value="7600">Mar del Plata</option>
  <option value="7601">Batan</option>
  <option value="8000">Bahía Blanca</option>
</select>
<br>
<br>
<input type="text" name="grupo_sang_alumno" placeholder="Ingrese el grupo sanguineo del alumno" size="10">
<br>
<input type="text" name="tel_fijo_alumno" placeholder="Ingrese el Telefono fijo del alumno" size="40">
<br>
<input type="text" name="tel_movil_alumno" placeholder="Ingrese el telefono movil del alumno" size="10">
<br>
<input type="text" name="dni_alumno" placeholder="Ingrese el DNI del alumno" size="10">
<br>
<input type="submit" class="btn" value="Agregar">
</form>