<!DOCTYPE html>
<html>
  <head>
    <title>Mantenimiento de Alumnos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/form.css" >
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo&amp;display=swap'>
  </head>
  <body>
    
	<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

	<h1 style="text-align: center;">Mantenimiento Alumnos</h1>
	<nav role="navigation" class="primary-navigation">
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="#">ABM &dtrif;</a>
		<ul class="dropdown">
			<li><a href="/alumnos/creartabla">Crear Tabla</a></li>
			<li><a href="/alumnos/alta">Alta</a></li>
			<li><a href="/alumnos/modificacion">Modificacion</a></li>
		</ul>
		</li>
		<li><a href="#">Consultas &dtrif;</a>
		<ul class="dropdown">
			<li><a href="/alumnos/listado">Listado Completo</a></li>
			<li><a href="/alumnos/consulta">Consulta por Matricula</a></li>
			<li><a href="/alumnos/batan">Residentes de Batan</a></li>
			<li><a href="/alumnos/2002">Nacidos en 2002</a></li>
            <li><a href="/alumnos/batanrh">Residentes de Batan con RH-</a></li>
            <li><a href="/alumnos/DNIA">Ordenados DNI Ascendente</a></li>
            <li><a href="/alumnos/AvJBJ">Domicilio en AV.J.B.Justo</a></li>
		</ul>
		</li>
	</ul>
	</nav>

    <br><br><br>
    {{{body}}}
  </body>
</html>
